
/* color palette: https://coolors.co/palette/e63946-f1faee-a8dadc-457b9d-1d3557 */

:root {
    --button-highlight: #457B9D;
    --button-highlight-hover: #45709D;
    --button-bg-color-hover: #D9EFF0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    font-family: "VT323", monospace;
    color: var(--button-highlight);
    font-size: 3rem;
}

hr {
    width: 75%;
    max-width: 800px;
    margin: 30px;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.pokemon-form {
    width: 200px;
}

input[type=submit] {
    color: var(--button-highlight);
    background-color: white;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    border-radius: 3vmin;
    border: 2px solid var(--button-highlight);
    width: 90px;
    height: 30px;
    transition-duration: 0.3s;
}

input[type=submit]:hover {
    background-color: var(--button-bg-color-hover);
    color: var(--button-highlight-hover);
    border: 2px solid var(--button-highlight-hover);
}

input[type=text] {
    margin: 10px 0;
    text-align: justify;
    width: 190px;
    border-radius: 3vmin;
}

.img-div {
    display: flex;
    align-items: center;
    min-height: 250px;
}

#pokemon-image {
    image-rendering: pixelated;
    transform: scale(3);
}

form {
    text-align: center;
}

#form-buttons {
    display: flex;
    justify-content: space-between;
}

.stats img {
    image-rendering: pixelated;
    height: 16px;
}

#types {
    text-align: center;
    margin-top: 30px;
}